@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
	background-color: #f5f5dc;
	color: #fff;
}
.container {
	max-width: 80%;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 600px;
	text-align: center;
	background: url(./images/globe-2.jpg) left center/cover fixed no-repeat;
	isolation: isolate;
}

header::before {
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(rgba(2, 47, 87, 0.77), rgba(46, 27, 32, 0.5));
	z-index: -1;
}

header h1 {
	font-size: 4rem;
	letter-spacing: 10px;
}

header h3, .feedback {
	font-size: 1.5rem;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin-top: 20px;
}

label {
	padding: 1rem;
	background-color: hsl(280, 61%, 50%);
	text-transform: capitalize;
}

label input {
	display: none;
}

label:has(> input:checked) {
	background-color: hsl(280, 61%, 35%);
}

input[type='text'] {
	display: block;
	padding: 1rem;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 1rem;
	width: 500px;
	margin: 1rem auto 0;
	border-radius: 50px;
	border: none;
	outline: none;
}

.countries-wrapper{
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
}

div.country-component {
	display: flex;
	align-items: center;
	justify-content: center;
        padding: 0.85rem;
	height: 250px;
	width: 250px;
	background: url(./images/map_image.jpg) center/cover no-repeat;
	position: relative;
	isolation: isolate;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
}

div.country-component::after {
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(rgba(2, 47, 87, 0.5),  rgba(3, 1, 47, 0.703));
	z-index: -1;
}
